/*base classes*/
.font{
	font-family: 'Poppins';
}
.font1{
	font-family: 'Playfair Display';
	font-size: 55px;
	color: #FF7A00;
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}
.clear{
	clear: both;
}
.conteiner{
	width: 1322px      ;
	margin: o auto;
}
/*header*/
.logo{
	font-size: 24px;
	color: #FF7A00;
}
.header-logo{
	margin-left: 140px;
	margin-bottom: 23px;
}
.li{
	font-size: 16px;
	color: #181C28;
	display: inline-block;
	margin-right: 30px;
}
.li2{
	font-weight: bold;
}
.header-nav{
	margin-top: 45px;
	margin-left: 119px;
	padding-right: 23px;
}
.header{
	width: 1600px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #FFFFFF;
}
/*section 1*/
.section1{
	margin-top: 102px;
}
.blog-h1{
	font-size: 48px;
	color: #FFFFFF;
	margin-top: 10px;
	margin-left: 40px;
}
.blog-p{
	font-size: 22px;
	color: #FFFFFF;
}
.baner{
	position: relative;
}
.blog-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/*section #2*/
.title-h3{
	font-size: 22px;
	color: #FF7A00;
	margin-left: 172px;
	margin-top: 84px;
	margin-bottom: 81px;
}
.left1-h{
	font-size: 36px;
	color: #181C28;
	width: 563px;
	margin-top: 20px;
	margin-bottom: 22px;
	font-weight: bold;
}
.left1-p{
	font-size: 16px;
	color: #7B7B7B;
	width: 636px;
	line-height: 0.75cm;
	margin-bottom: 13px;
}
.readmore{
	font-size: 14px;
	color: #FF7A00;
}
.readmore::after{
	content:" ";
	width: 47px;
	height: 4px;
	background-color: #FF7A00;
	display: inline-block;
	margin-left: 18px;
	margin-bottom: 57px;
}

.left2-h{
	font-size: 36px;
	color: #181C28;
	width: 563px;
	margin-top: 20px;
	margin-bottom: 22px;
	font-weight: bold;
}
.left2-p{
	font-size: 16px;
	color: #7B7B7B;
	width: 636px;
	line-height: 0.75cm;
	margin-bottom: 13px;
}
