/*base classes*/
.font{
	font-family: 'Poppins';
}
.font1{
	font-family: 'Playfair Display';
	font-size: 55px;
	color: #FF7A00;
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}
.clear{
	clear: both;
}
.conteiner{
	width: 1324px      ;
	margin: auto;
}
/*header*/
.logo{
	font-size: 24px;
	color: #FF7A00;
}
.header-logo{
	margin-left: 140px;
	margin-bottom: 23px;
}
.li{
	font-size: 16px;
	color: #181C28;
	display: inline-block;
	margin-right: 30px;
}
.li2{
	font-weight: bold;
}
.header-nav{
	margin-top: 45px;
	margin-left: 119px;
	padding-right: 23px;
}
.header{
	width: 1600px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #FFFFFF;
}
/*section 1*/
.section1{
	margin-top: 102px;
}
.blog-h1{
	font-size: 48px;
	color: #FFFFFF;
	margin-top: 10px;
	margin-left: 40px;
}
.blog-p{
	font-size: 22px;
	color: #FFFFFF;
}
.baner{
	position: relative;
}
.blog-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/*section #2*/
.title-h3{
	font-size: 22px;
	color: #FF7A00;
	margin-left: 172px;
	margin-top: 84px;
	margin-bottom: 81px;
}
.left1-h{
	font-size: 36px;
	color: #181C28;
	width: 563px;
	margin-top: 20px;
	margin-bottom: 22px;
	font-weight: bold;
}
.left1-p{
	font-size: 16px;
	color: #7B7B7B;
	width: 636px;
	line-height: 0.75cm;
	margin-bottom: 13px;
}
.readmore{
	font-size: 14px;
	color: #FF7A00;
}
.readmore::after{
	content:" ";
	width: 47px;
	height: 4px;
	background-color: #FF7A00;
	display: inline-block;
	margin-left: 18px;
	
}

.left2-h{
	font-size: 36px;
	color: #181C28;
	width: 563px;
	margin-top: 20px;
	margin-bottom: 22px;
	font-weight: bold;
}
.left2-p{
	font-size: 16px;
	color: #7B7B7B;
	width: 636px;
	line-height: 0.75cm;
	margin-bottom: 13px;
}
/*section #2-box 2*/
.image-box2{
	width: 636px;
	height: 423px;
	margin-bottom: 20px;
}
.h2-box2{
	font-size: 36px;
	color: #181C28;
	width: 563px;
	font-weight: bold;
	margin-bottom: 22px;
}
.p-box2{
	font-size: 16px;
	color: #7B7B7B;
	width: 636px;
	line-height: 0.75cm;
	margin-bottom: 13px;
}
.wrapper-box2{
	margin-top: 57px;
}
.readmore-box2{
	font-size: 14px;
	color: #FF7A00;
}
.readmore-box2::after{
	content: " ";
	width: 47px;
	height: 4px;
	background-color: #FF7A00;
	display: inline-block;
	margin-left: 18px;
}

.image-box2-2{
	width: 636px;
	height: 423px;
	margin-bottom: 20px;
}
.h2-box2-2 {
	font-size: 36px;
	color: #181C28;
	width: 563px;
	margin-bottom: 22px;
	font-weight: bold;
}
.p-box2-2{
	font-size: 16px;
	color:#7B7B7B;
	width: 636px;
	line-height:0.75cm;
	margin-bottom: 13px;
}
.readmore-box2-2{
	font-size: 14px;
	color: #FF7A00;
}
.readmore-box2-2::after{
	content: " ";
	width: 47px;
	height: 4px;
	background-color: #FF7A00;
	display: inline-block;
	margin-left: 18px;
}

/*load more*/
.loadmore-box{
	width: 190px;
	height: 70px;
	background-color: #FF7A00;
	position: relative;
	left: 705px;
	top: 66px;
}
.load-more{
	font-size: 16px;
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.section3{
	margin-bottom: 134px;
}
/*section 4*/
.black{
	width: 1600px;
	height: 266px;
	background-color: #181C28;
	margin-bottom: 82px;
}
/*footer*/
.footer-h{
	font-size: 24px;
	color: #282828;
	margin-bottom: 15px;
}
.f-l{
	font-size: 16px;
	color: #7B7B7B;
	margin-bottom: 15px;
}

.ul-box2{
	margin-left: 234px;
	margin-right: 234px;
}
.visa{
	margin-left: 40px;
}
.Copyright{
	font-size: 16px;
	color: #A4A4A4;
}
.copyright1{
	float: right;
}
.footer{
	margin-bottom: 137px;
}